div.container {
  font-family: "Darker Grotesque", sans-serif;

  margin: 0 auto;
  padding: 35px 110px;
  display: block;

  width: 700px;
}

div.card-back {
  background-color: #a6c1ee;
  padding: 25px 15px 15px 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 2px rgba(112, 132, 163, 1);
}

input.search-engine {
  background: transparent;
  color: #f8ecff;
  border: 1px solid #f8ecff;
  border-radius: 3px;
  width: 225px;
}

input.search-button {
  background: #f8ecff;
  color: #a6c1ee;
  border: 1px solid #f8ecff;
  border-radius: 3px;
}

input.search-button:hover {
  background: #29559b;
  color: #f8ecff;
  transition: all 200ms ease-in-out;
}

div.city-links {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

h5.last-searched {
  display: inline;
  color: #f8ecff;
}

a.last-searched-cities {
  margin: 0 10px;
  font-style: italic;
  color: #f8ecff;
}

div.card-body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  border-radius: 10px;
  box-shadow: 0px 4px 2px 0px rgba(112, 132, 163, 0.5);
  padding: 0 10px;
  color: #29559b;
}

#current-weather-date {
  text-align: center;
}

#city {
  text-align: center;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}

p.description {
  text-align: center;
  font-size: 20px;

  font-family: "Staatliches", cursive;
}

div.left-block {
  margin: 20px;
  box-shadow: 0px 1px 4px 1px rgba(112, 132, 163, 0.5);
  border: 1px solid transparent;
  border-radius: 10px;
  text-align: center;
  padding-top: 15px;
}

span.temperature {
  font-size: 50px;
}

span.units {
  font-size: 20px;
  position: relative;
  top: -20px;
}

a.celsius-link {
  color: #f8ecff;
}
a.fahrenheit-link {
  color: #f8ecff;
}

p.feels-like {
  font-style: italic;
  text-align: center;
}

div.right-block {
  font-size: 18px;
  text-align: center;
  margin: 20px;

  box-shadow: 0px 1px 4px 1px rgba(112, 132, 163, 0.5);
  border: 1px solid transparent;
  border-radius: 10px;
  padding-top: 5px;
}

div.forecast-image {
  text-align: right;
  font-size: 35px;
  color: #f8ecff;
}

div.forecast {
  text-align: left;
  color: #f8ecff;
}

footer {
  text-align: center;
  position: relative;
  top: 10px;
  margin: 0 auto;
  color: #29559b;
  font-family: "Darker Grotesque", sans-serif;
}

a.coder {
  color: #29559b;
  font-family: "Darker Grotesque", sans-serif;
}
